@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App{
  /* width: 100%; */
  /* height: 100%; */
  padding: 32px;
  font-family: 'Roboto', sans-serif;
}

.page_title{
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.close_popup_button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-size: 16px;
}

.close_popup_button:hover{
  cursor: pointer;
  background-color: #fafafa;
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_inner{
  position: relative;
  padding: 25px;
  width: 600px;
  height: 600px;
  background-color: #f9faff;
  border-radius: 20px;
  overflow-y: scroll;
  border: 2px solid rgba(0,0,0,0.2);

  /* style the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;

}

.popup_inner::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.popup_inner::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.popup_inner::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.4) ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.popup_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_picture {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-right: 40px;
}

.shop_container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.shop_info_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-left: 20px;
}

.shop_info p {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.shop_precision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 150px;
  border-radius: 20px;
  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.shop_precision .shop_precision_text{
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
}

.popup_body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 20px;
  margin-top: 25px;
}

.popup_body_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px;
}

.popup_body_container .popup_body_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup_body_container .popup_body_header p{
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  align-self: center;
  width: 100%;
}

.popup_body_container .popup_body_content{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.popup_body_container .popup_body_content .popup_body_divider{
  width: 4px;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  margin: 20px 0; 
}

.popup_body_container .popup_body_content p{
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #386dff;
  text-align: center;
  align-self: center;
  width: 100%;
}

.popup_body_container .popup_body_content span{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}


/*  */

.shop_item{
  width: 250px;
  height: 215px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
}

.shop_item:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.shop_item_picture{
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shop_info_container{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop_info_container p{
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
}


/* responsive */

@media screen and (max-width: 480px){
  .popup_inner{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .popup_header{
    flex-wrap: wrap;
    gap: 20px;
  }

  .shop_container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .shop_picture {
    width: 100%;
    align-self: center;
    margin-right: 0;
  }

  .shop_info{
    justify-content: flex-end;
  }

  .popup_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;

  }

  .popup_body_container{
    width: 90%;
  }

  .popup_body_container .popup_body_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .popup_body_container .popup_body_header p{
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000000;
    text-align: center;
    align-self: center;
    width: 100%;
  }

  .popup_body_container .popup_body_content{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .popup_body_container .popup_body_content .popup_body_divider{
    width: 4px;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    margin: 20px 0; 
  }

  .popup_body_container .popup_body_content p{
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #386dff;
    text-align: center;
    align-self: center;
    width: 100%;
  }

  .popup_body_container .popup_body_content span{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
}